.form-with-property-brief-main-div {
  display: flex;
  flex-direction: column;
  flex: 8;
  margin: 20px;
}

.form-with-property-brief-main-div h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.view-form-main-div {
  display: flex;
  flex: 8;
  justify-content: center;
  margin-top: 20px;
}

.view-form-personal-info-div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.view-form-property-info-div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.view-form-viewing-info-div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.view-form-input-field-with-title-div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.view-form-input-field-with-title-div > label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.view-form-input-field-each {
  height: 20px;
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 15px;
}
.view-form-submit-button-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
